.testimonial-card {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
    margin-bottom: 160px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.testimonial-content {
  font-style: italic;
  color: #555;
  margin-bottom: 15px;
}

.testimonial-text {
  font-size: 1.05rem;
  line-height: 1.4;
  margin: 0;
}

.testimonial-user {
  display: flex;
  align-items: center;
}

.testimonial-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.testimonial-info {
  display: flex;
  flex-direction: column;
}

.testimonial-name {
  margin: 0;
  font-weight: 600;
  color: #222;
}

.testimonial-role {
  margin: 0;
  font-size: 0.85rem;
  color: #888;
}
